<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SGVED Gracias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://jthemes.net/themes/html/wizard-form/thankyou/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://jthemes.net/themes/html/wizard-form/thankyou/assets/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://jthemes.net/themes/html/wizard-form/thankyou/assets/css/style.css">
</head>
<body>
<!-- Start of thank you section
 ============================================= -->
<section id="thank-you" class="thank-you-section">
    <div class="container">
        <div class="thank-you-wrapper position-relative thank-wrapper-style-one">
            <!-- <div class="thank-you-close text-center">x</div> -->
            <div class="thank-txt text-center">
                <div class="thank-icon">
                    <img src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/img/tht1.png" alt="">
                </div>
                <h1>Encuesta finalizada</h1>
                <p>Gracias por participar en la encuesta. Sus respuestas han sido registradas satisfactoriamente.</p>
                <a class="d-block text-center text-uppercase" href="#" id="btnCerrar">Cerrar</a>
            </div>
            <div class="th-bottom-vector position-absolute">
                <img src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/img/tv1.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End of thank you section
============================================= -->

<script src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/js/jquery-3.3.1.min.js"></script>
<script src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/js/bootstrap.min.js"></script>
<script src="https://jthemes.net/themes/html/wizard-form/thankyou/assets/js/main.js"></script>
<script>
$(document).ready(function() {
    $("#btnCerrar").click(function(e){
        document.getElementsByTagName('html')[0].remove();
    });
});
</script>
</body>
</html>